@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&family=Playfair+Display:wght@500&display=swap");

.FeedbackContiner {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #0056b3;
}
.Feedback {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-color: #d0e2f5;
}
.Feedback-con {
  width: 40%;
  height: 70%;
  background-color: #aceef347;
  border-radius: 20px;
  padding: 30px;
  box-shadow: #007bff;
  background-color: #90bae7;
}

.Feedback-h2 {
  text-align: center;
  color: #333;
  font-family: "Lato", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Playfair Display", serif;
}
.Feedback-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
  text-align: left;
  margin-left: 9%;
}

.Feedback-input {
  width: 80%;
  height: 50%;
  padding: 12px;
  margin-left: 0%;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "Lato", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Playfair Display", serif;
  font-family: "Roboto Slab", serif;
}
.Feedback-input:hover {
  background-color: rgba(225, 116, 217, 0.373);
}
.Feedback-textarea {
  max-width: 83%;
  max-height: 150px;
  min-width: 83%;
  min-height: 150px;
  margin-left: 0%;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: top;
  margin-bottom: 10px;
  vertical-align: top;
  font-family: "Lato", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Playfair Display", serif;
  font-family: "Roboto Slab", serif;
}
.Feedback-textarea:not(:last-child) {
  margin-bottom: 0;
}

.Feedback-Button {
  background-color: #007bff;
  color: white;
  padding: 15px 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 0%;
  font-family: "Lato", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Playfair Display", serif;
}

.Feedback-Button:hover {
  background-color: #0056b3;
}