@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&family=Dancing+Script&family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&family=Dancing+Script&family=Roboto+Slab:wght@300&display=swap");

.container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: transparent;
  background: url("C:\Users\Rocky\Desktop\React\project\src\Components\Images\1431924.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Crimson Text", serif;
  font-family: "Dancing Script", cursive;
  font-family: "Roboto Slab", serif;
  background-position: center;
}
.column-1 h4 {
  padding-bottom: 20px;
  font-family: "Crimson Text", serif;
  font-family: "Dancing Script", cursive;
  font-family: "Roboto Slab", serif;
}
.column-1 h2 {
  padding-bottom: 20px;
  font-family: "Crimson Text", serif;
  font-family: "Dancing Script", cursive;
  font-family: "Roboto Slab", serif;
}

.column1-detail h4 {
  text-align: center;
  margin-top: 80px;
  color: black;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}

.form-link {
  width: 50px;
  margin-left: 50px;
  border-radius: 30px;
  margin-top: 45px;
}

.form-link-a {
  display: inline-block;
  padding: 13px 60px;
  background-color: rgb(219, 28, 28);
  color: white;
  text-decoration: none;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}

.form-link-a:hover {
  background: linear-gradient(to bottom, #ff6600, #ff9933, #ffcc66);
}
.form-input-btn2:hover {
  background: linear-gradient(to bottom, #ff6600, #ff9933, #ffcc66);
}
.column1-detail h1 {
  text-align: center;
  font-size: 50px;

  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
}

.column-1 {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 30%;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: rgba(235, 107, 38, 0.2);
  backdrop-filter: blur(10px);
  height: 30%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: box-shadow 0.5s ease-in-out;
}
.column-1:hover {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}
.column-2:hover {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}
.column-2 {
  display: flex;
  width: 30%;
  flex-direction: column;
  background: rgba(235, 107, 38, 0.2);
  backdrop-filter: blur(10px);
  height: 50%;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: box-shadow 0.3s ease;
}
.form-input-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-group1 {
  padding: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.form-input-btn2 {
  margin-top: 10px;
  padding: 15px 60px;
  color: #fff;
  border: none;
  border-radius: 20px;
  background-color: #cf241e;
}
.input-group1 input {
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 10px 30px;
  border: none;
}
.input-group1 input:focus {
  font-weight: bold;
  background-color: rgb(250, 201, 165);
  color: black;
  outline: none;
}
.input-group1 input::placeholder {
  color: black;
  font-size: 13px;
  text-align: center;
}
.form-input1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  padding: 0px 40px;
}

.formIcons {
  color: #fff;
}

@media screen and (max-width: 320px) {
  .container {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .column1-detail h4 {
    color: black;
    padding-bottom: 30px;
  }

  .column1-detail h1 {
    font-size: 20px;
  }
  .column1-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .column-1,
  .column-2 {
    width: 80%;
  }

  .form-link {
    text-align: center;
    margin-right: 50%;
  }
  .form-input1 input {
    padding: 4px;
    width: 80%;
  }
  .form-link-a {
    height: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .container {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .column1-detail h4 {
    color: black;
  }

  .column1-detail h1 {
    font-size: 20px;
  }
  .column1-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .column-1,
  .column-2 {
    width: 80%;
  }

  .form-link {
    text-align: center;
    margin-right: 50%;
  }
  .form-input1 input {
    padding: 4px;
    width: 80%;
  }
  .form-link-a {
    height: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
